.Main-Headings{
    color: #ffffff;
    font-family: Garet-Font;
    font-size: 2rem;
}
.custom-navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other content */
    background:none;
    background-color: #B8C4A5;
    transition: background-color 0.3s ease; /* Smooth transition for background changes */
}
.navbar-links{
    color: #ffffff;
    font-family: Alice-Regular;
    font-size: 1.25rem;
    font-weight: bold;
}

#genesis_logo{
    height: 4rem;
}

/*Desktop CSS Aspect Ratio*/
@media (min-aspect-ratio: 1.4){

}