.Main-Headings{
    color: #ffffff;
    font-family: Garet-Font;
    font-size: 2rem;
}

.navbar-links{
    color: #ffffff;
    font-family: Alice-Regular;
    font-size: 1.25rem;
    font-weight: bold;
}

#genesis_logo{
    height: 4rem;
}

/*Desktop CSS Aspect Ratio*/
@media (min-aspect-ratio: 1.4){

}