#landing_s1_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 7.5rem 0rem 0rem 0rem;
}

#heading_div_s1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.genesis_heading_h1{
    font-size: 4rem;
    font-family: Garet-Font;

    padding: 0rem 0rem 0rem 0rem;
}
.genesis_heading_h2{
    font-size: 1.75rem;
    padding: 1rem 0rem 1rem 0rem;
    font-family: Alice-Regular;
    font-weight: 800;
}

.button_div{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem 1rem 0rem;
}
.button_register{
    height: 3.75rem;
    width: 15rem;
    font-size: 1.5rem;
    background-color: #f62929;
    color: #ffffff;

    text-decoration: none;
    border: none;
    border-radius: 1.5rem;
    font-weight: 750;
}

@media (min-aspect-ratio: 1.4){

}