#landing_s1_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 7.5rem 0rem 0rem 0rem;
}

#heading_div_s1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.genesis_heading_h1{
    font-size: 5rem;
    font-family: Garet-Font;
    color: #8a589e;

    padding: 0rem 0rem 0rem 0rem;
}
.genesis_heading_h2{
    font-size: 1.75rem;
    padding: 1rem 0rem 1rem 0rem;
    font-family: Alice-Regular;
    font-weight: 800;
}
#genesis_tagline{
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    font-weight: 700;
}

.button_div{
    display: flex;
    justify-content: center;
    padding: 1rem 0rem 1rem 0rem;
}
.button_register{
    height: 3.75rem;
    width: 15rem;
    font-size: 1.5rem;
    background-color: #8E24AA;
    color: #ffffff;

    text-decoration: none;
    border: none;
    border-radius: 1.5rem;
    font-weight: 750;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.button_register:hover{
    transform: scale(1.1);
    background-color: #ef2020;
}

@media (min-aspect-ratio: 0.6){
    .genesis_heading_h1{
        font-size: 6rem;
    }
}
@media (min-aspect-ratio: 1){
    #landing_s1_div{
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
}
@media (min-aspect-ratio: 1.5){
    #landing_s1_div{
        margin-top: 3.5rem;
    }
    .genesis_heading_h1{
        font-size: 7.5rem;
    }
    .genesis_heading_h2{
        font-size: 2.5rem;
    }
    #genesis_tagline{
        font-size: 3rem;
        padding: 1rem 1rem 1rem 1rem;
    }
    .button_register{
        height: 5rem;
        width: 20rem;
        font-size: 1.5rem;
    }
}