@font-face {
  font-family: Garet-Font;
  src: url('./Assets/Fonts/Garet-Heavy.ttf');
}
@font-face {
  font-family: Alice-Regular;
  src: url('./Assets/Fonts/Alice-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html, #root {
  height: 100%;
  font-family: 'Arial', sans-serif;
  color: white;
}
a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/*body{*/
/*  !*background-color: lightgray;*!*/
/*  background-image: url('./Assets/Backgrounds/Genesis-Bkg.png');*/
/*  background-size: contain;*/
/*}*/

body {
  height: 100vh;
  width: 100%;

  background-image: url("./Assets/Backgrounds/GreenBkg1.png");
  background-size: contain;
  background-position: center;
  /*animation: switchBackground 10s ease-in-out infinite;*/
}

/*@keyframes switchBackground {*/
/*  0%, 50% {*/
/*    background-image: url('./Assets/Backgrounds/GreenBkg1.png'); !* Background 1 *!*/
/*  }*/
/*  50.01%, 100% {*/
/*    background-image: url('./Assets/Backgrounds/GreenBkg2.png'); !* Background 2 *!*/
/*  }*/
/*}*/