@font-face {
  font-family: Garet-Font;
  src: url('./Assets/Fonts/Garet-Heavy.ttf');
}
@font-face {
  font-family: Alice-Regular;
  src: url('./Assets/Fonts/Alice-Regular.ttf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html, #root {
  height: 100%;
  font-family: 'Arial', sans-serif;
  color: white;
}
a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
body{
  /*background-color: lightgray;*/
  background-image: url('./Assets/Backgrounds/Genesis-Bkg.png');
  background-size: contain;
}